@font-face {
    font-family: "TommySoft";
    src: url("../fonts/Tommy-Soft.otf");
}

@font-face {
    font-family: "TommyRegular";
    src: url("../fonts/Tommy-Regular.otf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "EntropicBrush";
    src: url("../fonts/EntropicBrush.otf");
}

body {
    background-color: rgb(219, 219, 219);
    font-family: "Roboto";
    align-items: center;

}

canvas {
    background-color: white;
    /* margin-left: 20%;
    margin-right: 20%; */
    top: 0;
    left: 0;
}

h1 {
    text-align: center;
    font-family: "EntropicBrush";
    font-size: 35px;
}

p {
    text-align: center;
    line-height: 10px;
}

#video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(48,25,52,0.75);
      }